{% extends "layout/default.html" %}
{% block body %}
    <div class="jumbotron">
        <h1>{{ device["name"] }}</h1>
        Vendor: <a href="{{ device["vendor_url"] }}">{{ device["vendor_name"] }}</a>
        <br />
        Documentation: <a href="{{ device["documentation_url"] }}">{{ device["documentation_url"] }}</a>
    </div>
    {% for image_type in device["images"] %}
        <h2>Images for {{image_type}}</h2> 
        <ul>
            {% for image in device["images"][image_type] %}
                <h3>{{image["filename"]}}</h3>
                Version: {{image["version"]}}<br />
                Checksum: {{image["md5sum"]}}<br />
                <button class="btn btn-primary btn-lg" type="button" onclick='gns3.install({{device|jsonify}}, "{{image["md5sum"]}}")'>Install</button>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
