{% extends "layout/default.html" %}
{% block body %}
  <h1>Hello Networker!</h1>
  <div>
      <a href="http://www.spiceworks.com/gns3/download-free-tftp-server-for-network-configuration-management/?utm_function=acq&utm_channel=aff&medium=aff&utm_source=150158&utm_campaign=&utm_content=tftp-cobrand-980x324"><img src="http://adn.impactradius.com/display-ad/2435-216679"></a>
  </div
  <p>
    <a class="btn btn-primary btn-lg" href="/appliances" role="button">Show appliances</a>
    
    <button class="btn btn-primary btn-lg" type="button" onclick="gns3_button(function() { return gns3.importAppliance(); })">Import appliance</button> 
  </p>
{% endblock %}
