{% extends "layout/default.html" %}
{% block script %}

function importDevice() {
    md5 = gns3.importDevice();
    if (md5 != null) {
        window.location = "/images/" + md5 + ".html"
    }
    return false;
}

{% endblock %}
{% block body %}
  <h1>Hello Networker!</h1>
  <div>
      <a href="http://www.spiceworks.com/gns3/download-free-tftp-server-for-network-configuration-management/?utm_function=acq&utm_channel=aff&medium=aff&utm_source=150158&utm_campaign=&utm_content=tftp-cobrand-980x324"><img src="http://adn.impactradius.com/display-ad/2435-216679"></a>
  </div
  <p>
    <a class="btn btn-primary btn-lg" href="/devices" role="button">Show devices</a>
    <a class="btn btn-primary btn-lg" href="#" role="button" onclick="return importDevice()">Import device</a>
  </p>
{% endblock %}
