{% extends "layout/default.html" %}
{% block script %}

$(function() {
    var table = $("#images");
    var images = gns3.images();
    for (var i in images) {
        image_info = images[i];
        var tr = $("<tr>");
        tr.append($("<td>").text(image_info.filename));
        tr.append($("<td>").text(image_info.md5sum));

        var a = $("<a>");
        a.attr("href", "/images/" + image_info.md5sum + ".html");
        a.append($("<button>").attr("class", "btn btn-primary btn-lg").text("Search appliance"));
        tr.append($("<td>").append(a))

        table.append(tr);
    }
});

{% endblock %}
{% block body %}
<table id="images" class="table table-striped">
    <tr>
        <th>Filename</th>
        <th>MD5 sum</th>
        <th>Action</th>
    </tr>
</table>

{% endblock %}
