<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=appliance-width, initial-scale=1">
        <title></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script>
            function gns3_notif(type, msg) {
                var notif = $("#notif")
                notif.append("<div class=\"alert alert-" + type + " alert-dismissible fade in\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">×</span></button>" + msg + "</div>")

            }

            gns3.error.connect(function(msg) {
                gns3_notif("danger", msg);
            });

            gns3.success.connect(function(msg) {
                gns3_notif("success", msg);
            });

            /*
            Deactivate the button after success click
            */
            gns3_button = function(callback) {
                var button = event.target;
                $(button).removeClass("btn-primary");                
                if (callback()) {
                    $(button).addClass("btn-success");
                    button.onclick = null;
                    return true;
                }
                else {
                    $(button).addClass("btn-danger");
                    return false;
                }
            }
        </script>

        <script>
            {% block script %}{% endblock %}
        </script>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">GNS3</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/appliances">Devices</a></li>
                    <li><a href="/downloads.html">Downloads</a></li>
                    <li><a href="/chat.html">Chat</a></li>
                    <li><a href="https://community.gns3.com">Community</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="notif">
    </div>
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
